{% extends "base.html" %}

{% block header %}
    <header>
        <h1 style="color: white;">Admin Dashboard</h1>
    </header>
    <style>
        body {
            background-color: #03045e;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h6 class="font-weight-bold">SEE PENDING MEMBERS</h6>
                    <a href="/pending_users" class="d-block mx-auto" style="max-width: 300px;">
                        <img src="ClubHub/templates/adminFolder/linee.jpg" alt="Pending Members" class="rounded float-left">
                    </a>
                </div>
            </div>
        </div>

        
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card card-custom">
                <div class="card-body text-center">
                    <h6 class="font-weight-bold">SEE INFORMATION</h6>
                    <a href="/members_info" class="d-block mx-auto" style="max-width: 300px;">
                        <img src="ClubHub/templates/adminFolder/soc.jpg" alt="Member Information" class="rounded float-right">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">