
header h1 {
    text-align: center;
    margin-top: 1.65em;
}

input:not(input[type=checkbox]) {
    display: block;
    outline: none;
    border: none;
    margin-bottom: 1em;
    padding: 2%;
    width: 50%;
    min-width: 7em;
    border-radius: 5px;
}

input:not(input[type=checkbox]):nth-of-type(3) {
    margin-bottom: 0;
}

input:not(input[type=checkbox]):hover {
    outline: 2px solid var(--light-grey);
}

input:not(input[type=checkbox]):focus {
    outline: 2px solid var(--light-grey);
}

input[type=checkbox].show-password-box {
    width: 1.3em;
    height: 1.3em;
}

label {
    display: block;
}

.submit-button {
    display: block;
    border: none;
    margin-top: 2.4em;
    padding: 3%;
    font-size: 0.9rem;
    width: 25%;
    min-width: 4em;
    border-radius: 10px;
    background-color: var(--lighter-green);
}

.submit-button:hover {
    cursor: pointer;
    outline: 2px solid var(--dark-green);
    text-decoration: underline;
}

.form-container {
    display: flex;
    width: 50%;
    margin: auto auto 5%;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: var(--dark-blue);
    border-radius: 1em;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#login-form div {
    margin-bottom: 0.5em;
    font-size: 0.75rem;
    width: 50%;
}

#register-form {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
}

#register-form label {
    font-size: 0.9rem;
    margin-bottom: 2%;
}

#register-form label:not(:first-of-type) {
    margin-top: 2%;
}

#register-form label:nth-of-type(3) {
    display: none;
}

#register-form label:nth-of-type(4) {
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

#register-form hr {
    width: 100%;
    margin-bottom: 10%;
}

.required-star {
    color: var(--light-red);
    font-size: 1.2rem;
}

#register-form div {
    margin-top: 1em;
}
