{% extends "base.html" %}

{% block links %}

    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">

{% endblock %}

{% block header %}

    <header>
        <h1>Log in to ClubHub</h1>
    </header>

{% endblock %}

{% block content %}

    <div class="form-container">
        <form id="login-form" action="/login" method="post">
            <label for="login-username-input"></label>
            <input id="login-username-input"
                   name="login-username"
                   type="text"
                   placeholder="Username"
                   autocomplete="on"
                   value="{{ form_username_value }}"
                   required>

            <label for="login-password-input"></label>
            <input id="login-password-input"
                   name="login-password"
                   type="password"
                   placeholder="Password"
                   autocomplete="on"
                   required>

            <div>Dont have an account? <a href="/register">Sign up</a></div>
            <div><a href="/forgot-password">Forgotten your password?</a></div>

            <button class="submit-button" type="submit">Login</button>
        </form>
    </div>

{% endblock %}
