{% extends "html/base/base.html" %}

{% block links %}
    <link rel="stylesheet" href="../../../static/css/clubs.css">
{% endblock %}

{% block header %}
    <header>
        <h1>Clubs</h1>
    </header>
{% endblock %}

{% block content %}

    

    <!-- Popular Clubs Section -->
    <div class="container mt-4">
        <h2 class="text-center mb-4">Popular Clubs</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Club ID</th>
                    <th scope="col">Club Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for club in popular_clubs %}
                    <<td>{{ club["club_id"] }}</td>
                    <td>{{ club["club_name"] }}</td>
                    <td>{{ club["club_description"] }}</td>
                    <td>
                        {% if club["validity"] == "PENDING" %}
                        <a class="pending" disabled>Join Club</a>
                        {% elif club["validity"] == "APPROVED" %}
                            <a class="registered" disabled>Signed Up</a>
                        {% else %}
                            <form action="/join" method="post">
                                <input type="hidden" name="user_id" value="{{ user_id }}">
                                <input type="hidden" name="club_id" value="{{ club_id }}">
                                <button type="submit">Join Club</button>
                            </form>
                        
                        
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- All Clubs Section -->
    <div class="container">
        <h2>All Clubs</h2>
        <table>
            <thead> 
                <tr>
                    <th scope="col">Club ID</th>
                    <th scope="col">Club Name</th>
                    <th scope="col">Club Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for club in all_clubs %}
                <tr>
                    <td>{{ club["club_id"] }}</td>
                    <td>{{ club["club_name"] }}</td>
                    <td>{{ club["club_description"] }}</td>
                    <td>
                        {% if club["validity"] == "PENDING" %}
                        <a class="pending" disabled>Join Club</a>
                        {% elif club["validity"] == "APPROVED" %}
                            <a class="registered" disabled>Signed Up</a>
                        {% else %}
                            <form action="/join" method="post">
                                <input type="hidden" name="user_id" value="{{ user_id }}">
                                <input type="hidden" name="club_id" value="{{ club_id }}">
                                <button type="submit">Join Club</button>
                            </form>
                            
                        
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

    <!-- FAQ Section -->
    <div class="container">
        <h2>Frequently Asked Questions</h2>

        <div class="qa-section">
            <details open>
                <summary>
                    Are there membership fees for joining clubs at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                    </svg>
                </summary>
                <p>No, all free</p> 
            </details>

            <details>
                <summary>
                    How can I stay updated about upcoming events at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                    </svg>
                </summary>
                <p>You can stay updated by regularly checking our website's event calendar or following our social media accounts.</p>
            </details>

            <details>
                <summary>
                    Can I start my own club at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                    </svg>
                </summary>
                <p>No, only coordinators can do so</p>
            </details>

            <details>
                <summary>
                    What should I do if I have a question or concern about a specific club or event at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                    </svg>
                </summary>
                <p>Contact the coordinator of the club</p>
            </details>

            <details>
                <summary>
                    Is there a Taylor Swift club?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                    </svg>
                </summary>
                <p>YES </p>
            </details>
            <details>
                <summary>
                    What if I don't show up at my clubs events?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                    </svg>
                </summary>
                <p>Die</p>
            </details>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    

    <!-- Bootstrap and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}




    

