{% extends "html/base/base.html" %}

{% block links %}
    <link rel="stylesheet" href="../../../static/css/clubs.css">
{% endblock %}

{% block header %}
    <header>
        <h1>Clubs</h1>
    </header>
{% endblock %}

{% block content %}

    <div id="main">
        <div class="table-container">
            <table>
                <h2>Clubs You Have Signed Up For</h2>
                <hr />
                <br />
                <thead>
                    <tr>
                        <th scope="col">Club ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% if registered %}
                        {% for club in registered %}
                            <tr>
                                <td>{{ club["club_id"] }}</td>
                                <td>{{ club["club_name"] }}</td>
                                <td>{{ club["club_description"] }}</td>
                                {% set validity = club["membership_status"] %}
                                <td>
                                    {% if validity == "PENDING" %}
                                        <button class="btn btn-requested" disabled>Club Membership Requested</button>
                                    {% elif validity == "APPROVED" %}
                                        <button class="btn btn-accepted" disabled>Approved Club Member</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                </tbody>
            </table>

            <hr />

            <div id="top">

                {% if selected_view == "popular" %}
                    <h3>Popular Clubs</h3>
                {% elif selected_view == "all" %}
                    <h3>All Clubs</h3>
                {% else %}
                    <h3>Choose Club Selection</h3>
                {% endif %}

                <a href="/clubs?selected=popular">View Popular Clubs</a>
                <a href="/clubs?selected=all">View All Clubs</a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Club ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% if unregistered %}
                        {% for club in unregistered %}
                            <tr>
                                <td>{{ club["club_id"] }}</td>
                                <td>{{ club["club_name"] }}</td>
                                <td>{{ club["club_description"] }}</td>
                                {% set validity = club["validity"] %}
                                <td>
                                    <form action="/clubs/join?club_id={{ club["club_id"] }}&club_name={{ club["club_name"] }}" method="post">
                                        <button type="submit" class="btn btn-join">Join Club</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- FAQ Section -->
    <div class="container">
        <h2>Frequently Asked Questions</h2>

        <div class="qa-section">
            <details open>
                <summary>
                    Are there membership fees for joining clubs at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"></use>
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
                </summary>
                <p>No, all free</p>
            </details>

            <details>
                <summary>
                    How can I stay updated about upcoming events at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"></use>
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
                </summary>
                <p>You can stay updated by regularly checking our website's event calendar or following our social media accounts.</p>
            </details>

            <details>
                <summary>
                    Can I start my own club at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"></use>
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
                </summary>
                <p>No, only coordinators can do so</p>
            </details>

            <details>
                <summary>
                    What should I do if I have a question or concern about a specific club or event at Club Hub?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"></use>
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
                </summary>
                <p>Contact the coordinator of the club</p>
            </details>

            <details>
                <summary>
                    Is there a Taylor Swift club?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"></use>
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
                </summary>
                <p>YES </p>
            </details>
            <details>
                <summary>
                    What if I don't show up at my clubs events?
                    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more"></use>
                    </svg>
                    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </svg>
                </summary>
                <p>Die</p>
            </details>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
