{% extends "html/base/home.html" %}

{% block main_right %}

    <header>
        <h1>{{ header }}</h1>
    </header>

    <div>
        {% if admin %}
            <a href="/pending">Pending Registration Requests</a>
            <a href="/member-info">User Information</a>
        {% endif %}

        {% if coordinator %}
        <a href="/home" class="#-link">Home</a>
        <a href="/cohome" class="#-link">Dashboard</a>
        <a href="/about-us" class="#-link">About Us</a>
        <a href="/contact-us" class="#-link">Contact</a>
        {% endif %}

    </div>

{% endblock %}
