body {
    background-image: url("../png/blue-background.png");
    background-size: cover;
    background-position: center center;
}

#clubs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7.5em;
}

#clubs-main {
    display: grid;
    color: var(--black);
    background-color: var(--white);
    width: 80%;
    padding: 1em;
    box-shadow: -9px 8px 5px 0 rgba(2, 62, 138, 0.75);
    outline: 0.3em solid var(--lighter-blue);
    border-radius: 0.15em;
}

#clubs-main table {
    width: 100%;
    border-collapse: collapse;
}

#clubs-main th,
#clubs-main td {
    padding: 8px;
    border-bottom: 1px solid var(--lighter-grey);
}

#clubs-main th {
    background-color: var(--light-grey);
}

#clubs-main tbody tr:last-child td {
    border-bottom: none;
}

#clubs-main td a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--white);
}

#clubs-main .pending {
    background-color: var(--light-red);
}

#clubs-main .registered {
    background-color: var(--light-blue);
}

#clubs-main .unregistered {
    background-color: var(--light-green);
    transition: transform 200ms;
}

#clubs-main .unregistered:hover {
    transform: translateY(-5px);
}

.qa-section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Set width to match container */
    margin-left: auto; /* Center the section horizontally */
    margin-right: auto;
}

.qa-section summary {
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.qa-section p {
    margin-top: 10px;
    color: black;
}
