
#football-club {
    max-width: 65%;
    min-width: 10%;
    border-image: linear-gradient(to bottom left, var(--dark-blue), var(--darker-blue)) 1;
    border-width: 0.3em;
    border-style: solid;
}

#main-right-links {
    display: flex;
    align-items: center;
    width: 65%;
    padding: 1em 0;
    gap: 1em;
}

#main-right-caption {
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 65%;
}

#main-right-caption h3 {
    font-weight: normal;
    margin: 0 1em;
    color: var(--white);
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.43);
}

#main-right-caption .line {
    flex: auto;
    background-color: var(--white);
    height: 0.1em;
}

#main-right-links a {
    flex: 1;
    font-size: 1.5rem;
    background-color: var(--darker-blue);
    color: var(--even-lighter-blue);
    padding: 1em;
    text-align: center;
    transition: translate 250ms, background-color 500ms, color 500ms;

}

#main-right-links a:hover {
    translate: 0 -8%;
    background-color: var(--even-lighter-blue);
    color: var(--darker-blue);
}