
main {
    display: flex;
    justify-content: center;
}

.main-child {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 3em;
    border: 0.3em ridge var(--lighter-blue);
    padding-top: 0.4em;
    background-color: var(--white);
}

#logo-with-slogan {
    max-width: 30em;
    min-width: 10em;
}

