
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #03045e;
        }
        .card-custom {
            border: 2px solid #007bff;
            border-radius: 10px;
            padding: 20px; 
            background-color: #0077b6; 
        }
        .card-custom img {
            max-width: 90%; 
            border-radius: 8px; 
            border: 2px solid #007bff; 
        }
        header {
            padding-top: 30px; 
        }
        
    </style>
</head>
<body>
    <!-- Navbar for admin -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0077b6;">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="auto" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="?admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members_info">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pending_users">Pending</a>
                </li>
               
            </ul>
        </div>
    </nav>

  
    <header>
        <h1 style="color: white; text-align: center;">Admin Home</h1>
    </header>

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='linee.jpg') }}" class="card-img-top" alt="uno">
                    <div class="card-body">
                        <h5 class="card-title">Pending members</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/pending_users" class="btn btn-primary">Go see pending members</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='soc.jpg') }}" class="card-img-top" alt="due">
                    <div class="card-body">
                        <h5 class="card-title">Members info</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="/members_info" class="btn btn-primary">Go see members info</a>
                    </div>
                </div>
            </div>
        </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


<!--
<div class="container">
    <hr>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-15 col-md-8 col-lg-8 py-0 pl-3 pr-1 featcard">
            <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark text-white"> <img class="card-img img-fluid" src="{{ url_for('static', filename='linee.jpg') }}" alt="">
                            <div class="card-img-overlay d-flex linkfeat"> <a href="" class="align-self-end"> <span class="badge">Pending members</span>
                                    <h4 class="card-title">See pending, approved and rejected members</h4>
                                    <p class="textfeat" style="display: none;">yada bada
                                    </p>
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-15 col-md-8 col-lg-8 py-0 pl-3 pr-1 featcard">
            <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark text-white"> <img class="card-img img-fluid" src="{{ url_for('static', filename='soc.jpg') }}" alt="">
                            <div class="card-img-overlay d-flex linkfeat"> <a href="" class="align-self-end"> <span class="badge">Members info</span>
                                    <h4 class="card-title">See all the tea about people</h4>
                                    <p class="textfeat" style="display: none;">yada bada
                                    </p>
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->