{% extends "html/base/base.html" %}

{% block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block header %}
    <header>
        <h1 style="color: white;">{{ header if header else "View your " ~ status ~ " members" }}</h1>
    </header>
    <style>
        body {
            background-color: #03045e;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-item').click(function () {
                var selectedOption = $(this).text();
                $('#dropdownMenuButton').text(selectedOption);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card card-custom">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 white-txt">Click to edit member status. Note: rejecting a user will delete
                them from the database. Click save to update.</h6>
            <a class="btn btn-warning custom-button" href="{{ url_for('jean_blueprint.cohome') }}"
               style="--bs-btn-font-size: .75rem;">Delete rejected members and save</a>

            <ul class="list-group light">
                <li class="list-group-item " style="background-color: var(--light-blue); color: white">
                    User1 <br><br>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>{{ status }}</option>
                        <option value="1">Approved</option>
                        <option value="2">Pending</option>
                        <option value="3">Rejected</option>
                    </select>
                </li>
                <li class="list-group-item " style="background-color: var(--light-blue); color: white">User2<br><br>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>{{ status }}</option>
                        <option value="1">Approved</option>
                        <option value="2">Pending</option>
                        <option value="3">Rejected</option>
                    </select></li>
                <li class="list-group-item" style="background-color: var(--light-blue); color: white">User3<br><br>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>{{ status }}</option>
                        <option value="1">Approved</option>
                        <option value="2">Pending</option>
                        <option value="3">Rejected</option>
                    </select></li>

                <!-- Will have to change this to a for loop of some type -->
            </ul>
        </div>
    </div>
{% endblock %}
