<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ClubHub</title>

    {% if "user" in session %}
        {% set second_link = "profile" %}
    {% else %}
        {% if request.endpoint == "registration.register_get" %}
            {% set second_link = "register" %}
        {% elif request.endpoint == "login_logout.forgot_password" %}
            {% set second_link = "forgot-password" %}
            {% set second_link_name = "Reset Password" %}
        {% elif request.endpoint == "registration.privacy_policy" %}
            {% set second_link = "privacy-policy" %}
            {% set second_link_name = "Privacy Policy" %}
        {% elif request.endpoint == "registration.terms_and_conditions" %}
            {% set second_link = "terms-and-conditions" %}
            {% set second_link_name = "Terms and Conditions" %}
        {% else %}
            {% set second_link = "login" %}
        {% endif %}
    {% endif %}

    {% set flash_message = get_flashed_messages()[0] %}

    {% block links %}
    {% endblock %}

</head>

<body>

    <style>
        .alert-dialog {
            {% with error = get_flashed_messages(category_filter=["error"]) %}
                {% with info = get_flashed_messages(category_filter=["info"]) %}
                    background-color: {{ "var(--light-red)" if error else "var(--light-green)" }};
                    display: {{ "block" if error or info else "none"}};
                {% endwith %}
            {% endwith %}
        }
    </style>

    <!-- This file is not intended to be rendered directly but should be extended by other HTML template files -->

    <nav id="navbar">
        <div class="navbar-left">
            <a href="/home">
                <img src="{{ url_for('static', filename='png/logo.png') }}" alt="[logo]">
                <img src="{{ url_for('static', filename='png/logo-dark.png') }}" alt="[logo]">
            </a>
        </div>
        <div class="navbar-center">
            <a href="/home" class="home-link index-link none-link">Home</a>
        </div>
        <div class="navbar-center">
            <a href="/{{ second_link }}" class="{{ second_link }}-link">{{ second_link_name if second_link_name else second_link.capitalize() }}</a>
        </div>
        <div class="navbar-center">
            <a href="/about-us" class="about-link about-us-link">About Us</a>
        </div>
        <div class="navbar-right">
            <a href="javascript:void(0);">&#9776;</a>
        </div>
    </nav>

    <div class="alert-dialog-container">
        <div class="alert-dialog">
            <p>{{ flash_message }}</p>
            <button class="alert-dialog-button">&#10005;</button>
        </div>
    </div>

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer id="footer">
        <div>© 2024 ClubHub, All rights reserved.</div>
    </footer>

    <script src=" {{ url_for('static', filename='js/script.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/alert_message.js') }}"></script>

</body>

</html>