{% extends "html/base/base.html" %}

{% block links %}

    <style>
        body {
            background-image: url("../../../static/png/blue-background.png");
            background-size: cover;
            background-position: center center;
        }

        #main {
            text-align: center;
            font-size: 2rem;
        }
    </style>

{% endblock %}

{% block header %}

    <header>
        <h1>Forgot your password?</h1>
    </header>

{% endblock %}

{% block content %}

    <div id="main">
        <p>
            Sorry, we don't support that feature yet!<br />
            Guess your account is gone forever 🥲
        </p>
    </div>

{% endblock %}