
header h1 {
    text-align: center;
}

input {
    display: block;
    outline: none;
    border: none;
    margin-bottom: 1em;
    padding: 2%;
    width: 50%;
    min-width: 7em;
    border-radius: 5px;
}

input:hover {
    outline: 2px solid var(--light-grey);
}

input:focus {
    outline: 2px solid var(--light-grey);
}

label {
    display: block;
}

#login-form button {
    display: block;
    border: none;
    margin-top: 2em;
    padding: 3%;
    font-size: 0.9rem;
    width: 20%;
    min-width: 4em;
    border-radius: 10px;
    background-color: var(--lighter-green);
}

#login-form button:hover {
    cursor: pointer;
    outline: 2px solid var(--dark-green);
    text-decoration: underline;
}

#form-container {
    display: flex;
    width: 50%;
    margin: auto auto 5%;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: var(--dark-blue);
    border-radius: 1em;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
