{% extends "base.html" %}

{% block header %}

    <header>
        <h1>Login</h1>
    </header>

{% endblock %}

{% block content %}

    <form id="login-form" action="/login" method="post">
        <label for="username-input"></label>
        <input id="username-input" name="username" type="text" placeholder="Username">
        <label for="password-input"></label>
        <input id="password-input" name="password" type="password" placeholder="Password">
        <span id="input-error-msg">{{ error_message }}</span>
        <button type="submit">Login</button>
    </form>

    <script src="../static/login.js"></script>

{% endblock %}
