<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #03045e;
        }
        .navbar-nav .nav-link {
            color: white; /*should be white*/
        }
        
        .nav.navbar-nav.navbar-item {
            color: white;
        }
        h2{
          color: white;
        }
    </style>
</head> 
<!--SCREAMING CRYING PERFECT STORM I CAN MAKE ALL THE TABLES TURN AAAAAAAAAAA-->
<body>

  

  
    <nav class="navbar navbar-dark" style="background-color: #0077b6;">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="auto" height="30">
        </a>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="/profile">Your Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clubss">Clubs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eventss">Events</a>
            </li>
          </ul>
       
      </nav>
      <h2>Hello bestie and welcome to the user home page!</h2>
</body>

</html>
