{% extends "html/base/base.html" %}

{% block links %}

    <link rel="stylesheet" type="text/css" href="../../../static/css/about.css" />

{% endblock %}

{% block header %}

    <header>
        <h1>About Us</h1>
    </header>

{% endblock %}

{% block content %}

    <div class="about-container">
        <div class="about-item description">
            <h2>ClubHub Overview</h2>
            <p>
                ClubHub is a sports club management website designed to streamline and enhance the administrative aspects of sports clubs.
                It offers a comprehensive platform for managing various facets of a sports club efficiently.
            </p>
            <ol>
                <li>
                    Member Management: ClubHub provides tools to manage club members, including registration, member profiles, and contact information.
                    It simplifies the process of keeping track of club participants.
                </li>
                <li>
                    Event Organization: The platform facilitates the planning and coordination of club events.
                    It allows clubs to schedule practices, matches, or any other events, and members can easily
                    access and stay informed about the club's activities.
                </li>
                <li>
                    User-Friendly Interface: The user interface is designed to be intuitive and user-friendly, making it accessible for both
                    administrators and club members with varying technical expertise.
                </li>

            </ol>
            <p>
                By integrating these features, ClubHub aims to optimize the overall management and communication within sports clubs,
                providing a centralized platform for administrators and members alike.
            </p>
        </div>
        <div class="about-item">
            <img id="yoga-club-img" alt="[Image of a yoga club]" src="../../../static/jpg/yoga-club.jpg" />
        </div>
        <div class="about-item layered-images">
            <img id="social-club-img" alt="[Image of a mountaineering club]" src="../../../static/jpg/mountaineering-club.jpg" />
            <img id="football-club-img" alt="[Image of a football club]" src="../../../static/jpg/football-club.jpg" />
        </div>
        <div class="about-item">
            <h2>Mission Statement</h2>
            <p>
                ClubHub's mission is to empower sports clubs with a dynamic and user-friendly platform,
                enhancing the management and communication processes. We are dedicated to providing a comprehensive solution
                that streamlines member management, facilitates seamless event organization, promotes effective communication,
                ensures transparent financial operations, and offers customization to meet the unique needs of each sports club.
            </p>
            <p>
                Our goal is to be the go-to resource for sports clubs, fostering community engagement and supporting their success both
                on and off the field. At ClubHub, we believe in the transformative power of organized sports, and we are committed to making
                club management efficient, accessible, and enjoyable for administrators and members alike.
            </p>
        </div>
    </div>

{% endblock %}