{% extends "html/base/home.html" %}

{% block more_links %}

    <link rel="stylesheet" href="../../../static/css/default-home.css">

{% endblock %}

{% block main_right %}

    <img id="football-club" alt="[image of a football team]" src="../../../static/jpg/football-team.jpg" />
    <div id="main-right-caption">
        <span class="line"></span>
        <h3>Get Started Today!</h3>
        <span class="line"></span>
    </div>
    <div id="main-right-links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

{% endblock %}
